force-app/main/default/flows/Birthday.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alert</name>
        <label>alert</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Contact.Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>IsBirthdayToday</name>
        <label>IsBirthdayToday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBoolean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert</targetReference>
            </connector>
            <label>IsBool</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsBool</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Birthdate}=TODAY()</expression>
    </formulas>
    <interviewLabel>Birthday {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Birthday</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBirthdayToday</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-01</startDate>
            <startTime>13:43:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
